/* Ye olde CSS */

body{
    font-family: sans-serif;
}

div{
    vertical-align: top;
    margin:0.5em;
}

label{
    display: inline-block;
    width: 130px;
}

.addressLines{
    display: inline-block;
    margin: auto;
}

#expirationMonth, #expirationYear{
    width: 4.5em;
}

ul.error{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.error li{
    color: darkred;
    margin: 0.25em 0;
    padding: 0.25em 0;
    font-size: small;
}

input.error, select.error{
    -webkit-box-shadow: 0 0 15px 0 rgba(255,0,0,0.5);
    -moz-box-shadow: 0 0 15px 0 rgba(255,0,0,0.5);
    box-shadow: 0 0 15px 0 rgba(255,0,0,0.5);
}

input, select{
    margin: 0.25em 0;
}